@media (max-width: 1880px) {
  .pad {
    padding: 0 364px;
  }

  footer.pad {
    padding: 1px 364px;
  }
}

@media (max-width: 1800px) {
  .pad {
    padding: 0 320px;
  }

  .head {
    padding: 0 14px;
  }

  .bottem img {
    position: relative;
    transform: translate(59px, -73px);
  }

  .team-2 .items img {
    border-radius: 15px;
    width: 401px;
  }

  .left-a .heading {
    color: #fff;
    padding: 120px 261px 215px 67px;
  }

  .team-2 {
    padding: 0 70px;
  }

  footer.pad {
    padding: 1px 320px;
  }

  .team-2 .items:hover .item-box {
    transform: translate(15px, -114px);
  }

  .team-2 .items .item-box {
    transform: translate(15px, -100px);
  }
}

@media (max-width: 1680px) {
  .pad {
    padding: 0 260px;
  }

  .box {
    width: 411px;
  }

  .head {
    padding: 0 13px;
  }

  .team-2 {
    padding: 0 24px;
  }

  .left-a .heading {
    color: #fff;
    padding: 120px 178px 215px 67px;
  }

  footer.pad {
    padding: 1px 260px;
  }
}

@media (max-width: 1600px) {
  .box-a {
    left: 16%;
  }

  .box {
    width: 381px;
  }

  .pad {
    padding: 0 223px;
  }

  footer.pad {
    padding: 1px 222px;
  }

  .left-a .heading {
    color: #fff;
    padding: 120px 158px 215px 67px;
  }

  .team-2 .items img {
    border-radius: 15px;
    width: 380px;
  }

  .team-2 .item-box {
    width: 348px;
  }
}

@media (max-width: 1440px) {
  .pad {
    padding: 0 145px;
  }

  footer.pad {
    padding: 1px 145px;
  }

  .box {
    width: 345px;
  }

  .box .text p {
    font-size: 13px;
  }

  .left-a .heading {
    color: #fff;
    padding: 120px 52px 215px 67px;
  }

  .box-a {
    left: 13%;
  }

  .box .text h1 {
    font-size: 16px;
  }

  .team-2 .items img {
    width: 335px;
  }

  .team-2 .items:hover .item-box {
    transform: translate(9px, -114px);
  }

  .team-2 .items .item-box {
    transform: translate(9px, -100px);
    width: 316px;
  }
}

@media (max-width: 1366px) {
  .pad {
    padding: 0 104px;
  }

  footer.pad {
    padding: 1px 104px;
  }

  .team-2 .items img {
    width: 317px;
  }

  .team-2 .items .item-box {
    width: 296px;
  }

  .box {
    width: 420px;
    margin: 10px 0;
  }

  .head {
    padding: 0 250px;
  }
}

@media (max-width: 1280px) {
  .pad {
    padding: 0 62px;
  }

  footer.pad {
    padding: 1px 62px;
  }

  .box-a {
    left: 3%;
  }

  .left-a .heading {
    color: #fff;
    padding: 120px 21px 231px 33px;
  }

  .a-img img {
    overflow: hidden;
    height: 851px;
    position: relative;
    z-index: -9;
  }

  .left-a {
    z-index: 1;
    background: url(../img/content.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .box-a {
    left: 5%;
  }

  .team-2 .item-box {
    padding: 23px;
  }

  .box-a h1 {
    font-family: var(--Teko);
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    margin-right: 54px;
    margin-bottom: 28px;
  }

  .team-2 {
    padding: 0 14px;
  }

  .team-2 .items img {
    width: 289px;
  }

  .team-2 .items .item-box {
    width: 267px;
  }

  .team-2 .item-box h2 {
    font-size: 14px;
    font-weight: 400;
  }

  .head {
    padding: 0 201px;
  }

  .box .text p {
    font-size: 16px;
  }

  .box .text h1 {
    font-size: 20px;
  }

  .right-a .logo img {
    top: 22%;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .pad {
    padding: 0 24px;
  }

  footer.pad {
    padding: 1px 30px;
  }

  .a-img img {
    height: 800px;
    position: relative;
    z-index: -9;
  }

  .head {
    padding: 0 145px;
  }

  .box-a {
    left: 22%;
    display: grid;
  }

  .contact-box {
    background: #fff;
  }
}

@media (max-width: 1024px) {
  
  .mw-11 {
    display: none;
  }
  
  .nav .logo img {
    width: 80px;
  }

  .btn-1 a {
    color: #348e38;
    background: #e8f5e9;
    padding: 12px;
  }

  .btn-2 button {
    border-radius: 10px;
    border: 3px solid transparent;
    padding: 13px;
  }

  .navbar a {
    padding: 0 12px;
    font-size: 15px;
  }


  .mw-10 {
    display: block;
  }

  .bottem img {
    display: none;
  }

  .top {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    height: 10px;
  }

  .top .left {
    display: grid;
    text-align: center;
  }

  .top .left a {
    font-size: 25px;
    padding: 6px 0;
  }

  .top .right a {
    font-size: 26px;
  }

  .pad {
    padding: 0 123px;
}

   
    .about-1.pad {
        padding: 0 227px;
    }

  .nav {
    margin-top: 161px;
  }

  .bottem .right {
    padding: 25px 0 130px;
  }

  .head {
    padding: 0 85px;
  }

  .left .btn-2 {
    transform: translateX(0);
    margin-top: 28px;
  }

  .team-m .member {
    margin-top: 30px;
  }

  .team-2 {
    padding: 0px 63px;
    transform: translateY(67px);
  }

  .team-2 .items img {
    border-radius: 15px;
    width: 420px;
  }

  .team-2 .items:hover .item-box {
    opacity: 1;
    transform: translate(26px, -114px);
  }

  .team-2 .item-box {
    padding: 15px;
    width: 370px;
  }

  .a-img img {
    height: 680px;
    overflow: hidden;
    position: relative;
    z-index: -9;
  }

  .left-a .bg-img img {
    overflow: hidden;
    width: 1025px;
    height: 836px;
    transform: translateX(0px);
  }

  .Us {
    height: 10%;
  }

  .email {
    display: grid;
    background: transparent;
    padding: 0;
  }

  .mail input {
    border-radius: 10px;
    padding: 15px 300px 15px 15px;
    background: #e8f5e9;
   }

   .btn-a button {
     padding: 17px 194px;
    }

    .right-a .logo img {
        top: 17%;
        right: 0;
    }

  .mail {
    width: 100%;
    margin: 10px 0;
}

.left-a .heading {
    color: #fff;
    padding: 49px 196px 483px 231px;
}

  .box-2 h1 {
    font-family: var(--Teko);
    line-height: 30px;
  }

  .box-a {
    bottom: 49px;
  }

  .main .box-2 {
    padding: 20px;
    text-align: center;
    background: #fff;
    display: grid;
  }

  .main-b {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .number-w h1 {
    display: none;
  }

  .icon-w {
    transform: translateX(117px);
  }

  .c-3box input {
    padding: 20px 350px 78px 20px;
  }

  .c-btn button {
    border-radius: 10px;
    background-color: #28553f;
    color: #fff;
    border: 2px solid transparent;
    padding: 15px 230px;
  }

  .contact-box {
    background: #fff;
    transform: translate(0px, 26px);
    padding: 49px 64px 51px 83px;
    width: 779px;
  }



.web-info {
    border-bottom: 1px solid #bbbbbb;
    color: #fff;
    text-align: center;
    padding: 0;
}

.web-info .Subscribe input {
    border: none;
    border-radius: 5px;
    padding: 12px 0px 15px 11px;
    width: 100%;
    background: transparent;
    color: #e8f5e9;
}

.web-info .servies h1::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 3px;
    background: transparent;
    bottom: 0;
    left: 0;
}

.web-info .servies h1 {
    padding: 20px 0;
}

.web-info .mail {
    margin: 30px 0;
}

.mw-13 {
  display: none;
}

.i-a2 {
  display: grid;
}

.a-2 {
  padding: 20px 300px;
}

.f-nave .right {
  background: #e8f5e9;
  padding: 40px 40px 6px;
  margin: 0 0;
}

.a-2 {
  padding: 20px 106px;
}

.top-2 {
  padding: 0 4px;
}

.top-2::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: #28553f;
  top: 0;
  right: 0;
}

.row {
  margin: 0 0;
}

.f-nave {
  display: grid;
  transform: translateY(24px);
  margin-bottom: 40px;
  justify-content: space-between;
}

.f-nave .left {
  padding: 18px 338px;
}

.m-2 {
  display: none;
}

}

@media (max-width: 912px) {

  .pad {
    padding: 0 260px;
  }

    .mw-10 {
      display: none;
    }

    .mw-11 {
      display: block;
    }

    .mw-12 {
      display: none;
    }

    .f-nave .right {
      display: none;
    }

    .f-nave .left {
      padding: 18px 275px;
    }

    .mw-14 {
      display: none;
    }
    
    .backg img {
      position: relative;
      z-index: -1;
      width: 366px;
      height: 422px;
    }

    .contact-box {
      background: #fff;
      transform: translate(0px, 23px);
      padding: 49px 13px 51px 52px;
      width: 366px;
    }

    .row {
      margin: 0 0;
    }

    .c-3box input {
      padding: 20px 23px 78px 20px;
  }

  .c-btn button {
    padding: 15px 65px;
  }
    .top-2 {
      padding: 0 0px;
    }

    .box {
      width: 378px;
      margin: 10px 0;
    }

    .head {
      padding: 0 31px;
    }

    .a-img img {
      height: 607px;
   
    }

    .box-a {
        left: 16%;
    }

    .team-2 {
      padding: 0px 224px;
    }

    .left-a .heading {
      color: #fff;
      padding: 49px 91px 483px 162px;
  }

    .about-1.pad {
        padding: 0 185px;
    }

    .box-1 .text {
        margin-left: 14px;
    }

    .top .left a {
        font-size: 19px;
        /* padding: 6px 0; */
    }

    .mw-13 {
      display: none;
    }
    
    .m-1 {
      display: block;
    }


}

@media (max-width: 820px) {
    .a-img img {
        height: 547px;
    }

    .pad {
        padding: 0 19px;
    }

    .contact-box {
      background: #fff;
      transform: translate(7px, 23px);
      padding: 49px 13px 51px 52px;
      width: 776px;
    }

    .box-a {
        left: 14%;
        padding-right: 0;
    }

    .right-a .logo img {
        top: 12%;
    }

    .team-2 {
        padding: 0px 196px;
    }

    .head {
        padding: 0 27px;
    }

    .about-1.pad {
        padding: 0 156px;
    }
    
    .nav {
        margin-top: 104px;
    }

}

@media (max-width: 768px) {

    .top .left a {
        font-size: 16px;
        /* padding: 6px 0; */
    }

    .c-3box input {
      padding: 20px 22px 78px 20px;
    }

    .c-btn button {
      padding: 15px 61px;
    }

    .contact-box {
      background: #fff;
      transform: translate(7px, 23px);
      padding: 49px 13px 51px 52px;
      width: 383px;
    }

    .mw-11 {
      display: none;
    }

    .a-img img {
        height: 512px;
    }

    .left-a .heading {
      color: #fff;
      padding: 49px 86px 483px 117px;
    }

    .pad {
        padding: 0 194px;
    }

    .team-2 {
        padding: 0px 165px;
    }

    .colums .left .box-1 {
        padding: 20px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .mw-11 {
      display: block;
    }

    .btns-1 {
      display: grid;
    }

    .btns-1 .btn-2 {
      margin: 10px 0;
    }
    
}

@media (max-width: 600px) {

  .mw-12 {
    display: none;
  }

  .f-nave {
    display: none;
  }

  

  .mw-14 {
    display: none;
  }

  .mw-0 {
    display: none;
  } 

  .text-w {
    padding: 65px 0 69px 0px;
  }

  .a-img img {
      height: 400px;
  }

  .mail input {
      border-radius: 10px;
      padding: 15px 166px 15px 15px;
  }

  .btn-a button {
      padding: 17px 127px;
  }

  .about-1.pad {
      padding: 0 34px;
  }

  .head {
    padding: 0 109px;
  }

  .team-2 {
      padding: 0px 97px;
  }

  .pad {
      padding: 0 110px;
  }

  .box-a h1 {
      font-family: var(--Teko);
      font-size: 30px;
      font-weight: 500;
      line-height: 43px;
  }

  .about-1.pad {
      padding: 0 60px;
  }

  .img-1 img {
      transform: translateY(-85px);
      height: 525px;
      border-radius: 400px;
      z-index: 1;
  }

  .bg-icon img {
      position: relative;
      transform: translate(233%, 40%);
      height: 151px;
      z-index: -1;
  }

  .colums .left .box-2 img {
      padding: 0;
      width: 438px;
  }

  .colums .right {
    display: none;
  } 

  .team-2 .items .item-box {
    transform: translate(26px, -100px);
    width: 354px;
  }

  .box {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 217px;
    text-align: center;
    width: 319px;
  }

  .box .text {
    padding: 0;
  }
  
  .box-a {
    width: 398px;
    padding: 34px 18px 34px 28px;
    left: 16%;
  }

  .btn-a button {
    padding: 17px 111px;
  }

  .box-a .text {
    padding: 0;
    width: 307px;
  }

  .email {
    width: 283px;
  }

}

@media (max-width: 414px) {

  .body {
    width: fit-content;
    overflow: hidden;
  }

  .colums .left .box-2 img {
    padding: 0;
    width: 251px;
  }

  .left .btn-2 {
    transform: translateX(0%);
    margin-top: 25px;
  }
 
  .a-img img {
    height: 276px;
  }

  .right-a .logo img {
    top: 7%;
  }

  .bbox {
      display: none;
  }

  .pad {
    padding: 0 17px;
  }

  .team-2 {
    padding: 0px 5px;
  }

  .team-2 .items img {
    border-radius: 15px;
    width: 410px;
  }

  .head {
      padding: 0 28px;
  }

  .box {
      width: 364px;
      margin: 10px 0;
  }

  .about-1.pad {
      padding: 0 6px;
  }

  .colums .left .box-2 img {
      padding: 0;
      width: 344px;
  }

  .team-m .member {
    margin-top: 30px;
    width: 345px;
  }

  .left .btn-2 {
      transform: translateX(0%);
      margin-top: 28px;
  }

  .colums .left {
      padding: 20px 0 0 16px;
  }

  .team-2 {
      padding: 0px 29px;
  }

  .team-2 .items img {
      border-radius: 15px;
      width: 357px;
  }
  
  .team-2 .items:hover .item-box {
    opacity: 1;
    transform: translate(16px, -114px);
  }
  
  .left-a .heading {
    color: #fff;
    padding: 45px 24px 415px;
  }

  .box-a {
      width: 373px;
      padding: 34px 18px 34px 28px;
      left: 4%;
  }
  
  .box-a h1 {
      font-family: var(--Teko);
      font-size: 27px;
      font-weight: 500;
      line-height: 43px;
  }

  .mail input {
      border-radius: 10px;
      padding: 15px 140px 15px 15px;
  }

  .btn-a button {
      padding: 17px 111px;
  }

  .box-a .text {
    padding: 0;
    width: 307px;
  }

  .email {
    width: 283px;
  }

  .team-2 .items .item-box {
    transform: translate(16px, -100px);
    width: 330px;
  }

  .icon-w {
    transform: translateX(92px);
  }

  .contact-box {
    width: 351px;
  }

  .backg img {
    position: relative;
    z-index: -1;
    width: 358px;
    height: 422px;
  }

}

@media (max-width: 360px) {

  .box {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 319px;
  }

  .team-m .member {
    margin-top: 30px;
  }

  .m-img img {
    width: 264px;
  }

  .team-m .member {
    width: 326px;
    margin-top: 30px;
  }

  .m-img:hover .hover-i {
    height: 299px;
    width: 265px;
  }

  .m-img .hover-i {
    width: 265px;
  }

  .team-2 .items img {
    border-radius: 15px;
    width: 308px;
  }

  .a-img img {
    height: 239px;
  }

  .c-box {
    width: 321px;
  }

  .box-a {
    width: 332px;
    padding: 25px 18px 25px 23px;
    left: 4%;
  }

  .box-a h1 {
    font-size: 23px;
  }
  
  .mail input {
    border-radius: 10px;
    padding: 15px 105px 15px 15px;
  }

  .btn-a button {
    padding: 17px 93px;
  }

  .box-a .text {
    padding: 0;
    width: 307px;
  }

  .email {
    width: 283px;
  }

  .left-a .heading {
    color: #fff;
    padding: 45px 31px 419px;
  }

  .get .heading h1 {
    width: 332px;
  }

  .contact-box {
    width: 323px;
  }

  .backg img {
    position: relative;
    z-index: -1;
    width: 324px;
    height: 422px;
  }

  .colums .left .box-2 img {
    padding: 0;
    width: 305px;
  }

  .team-2 .items:hover .item-box {
    opacity: 1;
    transform: translate(18px, -114px);
  }
 
  .team-2 .items .item-box {
    opacity: 0;
    transform: translate(18px, -100px);
  }

  .icon-w {
    transform: translateX(60px);
  }

}
